﻿header {
    z-index: 1;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    height: 50%;
    background-color: blue;
    top: 0;
}

ul.linelist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article.top {
    height: 50%;
    background-color: lightgrey;
}

article.main {
    border: 1px;
    border-style: dotted;
    margin-top: 120px;
    position: relative;
}

aside.leftside {
    background-color: darkseagreen;
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
    top: 0;
}

aside.rightside {
    background: darkseagreen;
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0;
    top: 0;
}

article.content {
    border: 1px;
    border-style: dashed;
    color: red;
    margin-left: 10%;
    margin-right: 10%;
}
